.is-cursor-fx-active,.is-cursor-fx-active *{
  cursor:none
 }
 
 .cursor-fx[data-v-2f69e36a]{
  color:var(--color,#333);
  -webkit-transition:all .18s ease;transition:all .18s ease
 }
 .cursor-fx--hover[data-v-2f69e36a]{
  color:var(--color-hover,#333)
 }
 .cursor-fx__inner[data-v-2f69e36a]{
  position:absolute;
  top:0;
  left:0;
  border-radius:100%;
  -webkit-transition-timing-function:ease;
  transition-timing-function:ease;
  -webkit-transition-duration:.23s;
  transition-duration:.23s;
  -webkit-transition-property:color,width,height,background-color,border-radius,border-color;transition-property:color,width,height,background-color,border-radius,border-color;pointer-events:none;will-change:auto
 }
 .cursor-fx__inner__outside[data-v-2f69e36a]{
  border:2px solid
 }
 .cursor-fx__inner__custom[data-v-2f69e36a],.cursor-fx__inner__outside[data-v-2f69e36a]{
  width:80px;height:80px
 }.cursor-fx__inner__inside[data-v-2f69e36a]{
  width:9px;height:9px;background-color:currentColor
 }
 .cursor-fx--shape-square>.cursor-fx__inner[data-v-2f69e36a]{
  border-radius:0
 }

 body {
  background-image: url(img/noisy5.png);
  background-repeat: repeat;
}

#client {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-family: 'Indie Flower', cursive;
  font-size: 8rem;
}
h1{
  color: rgba(82, 188, 192, 0.63);
  font-size: 4rem;
}